.fill-height {
  height: 100%;
}

header {
  color: white;
  background-color: #46494c;
  height: 50px;
  font-size: 18px;
}

#map {
  height: 100%;
  width: 100%;
}

.container-fluid {
  padding: 0;
}
